body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-image: url("https://cdn.theatlantic.com/thumbor/i9jH00gdQ3Lov_7DI2xDujaTwQQ=/845x470:2635x1477/1600x900/media/img/mt/2016/03/RTX283V4/original.jpg");
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.support {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.traffic-light {
    background-color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.red {
    background-color: red;
    margin: 10px 0;
    border: solid lightgray;
}

.yellow {
    background-color: yellow;
    margin: 10px 0;
    border: solid lightgray;
}

.green {
    background-color: green;
    margin: 10px 0;
    border: solid lightgray;
}

.purple{
    background-color: purple;
    margin: 10px 0;
    border: solid lightgray;
}
.glow-green {
    box-shadow: 0px 0px 15px 12px rgba(0, 255, 0, 0.5);
}

.glow-yellow {
    box-shadow: 0px 0px 15px 12px rgba(255, 255, 0, 0.5);
}

.glow-red {
    box-shadow: 0px 0px 15px 12px rgba(255, 0, 0, 0.5);
}

.glow-purple {
    box-shadow: 0px 0px 15px 12px rgba(128, 0, 128, 0.5);
}


.glow {
    box-shadow: 0px 0px 15px 12px rgba(0, 255, 13, 0.36);
}

.line {
    width: 20px;
    height: 30px; /* Ajusta la altura del soporte según tus necesidades */
    background-color: black;
    position: absolute;
    top: 0;
}

.btn{
    margin: 20px 20px;
}
